/.vs/**/.vs/
/**/obj/
/**/bin/
*.v2
/dotnet/Solution/.vs/Solution/v17/.suo
/.vs
/azurecli/.vs
/dotnet/.vs
/dotnet/Solution/.vs
.vs/slnx.sqlite
.vs/virtual-network-service-endpoints/v17/.wsuo
.vs/slnx.sqlite
